@{
    ViewBag.Title = "Домашняя страница";
}

<h2>Добро пожаловать в базу данных "Военный аэродром"!</h2>


<div>
    <h4>Самое время войти!</h4>
    <h4>@Html.ActionLink("Вход", "Login", "Account")</h4>
</div>


<div>
    <h4>Нет аккаунта? Зарегистрируйтесь!</h4>
    <h4>@Html.ActionLink("Зарегестрироваться", "Register", "Account")</h4>
</div>


